@import '../../styles/_colors';

.test-wrapper {
  width: 540px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.test-row {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.test-path-svg {
  height: 200px;
  width: 200px;
}

.test-circle-svg {
  border-radius: 50%;
  height: 200px;
  overflow: hidden;
  width: 200px;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.test-circle {
  fill: transparent;
  pointer-events: none;
}

.test-petal--right {
  fill: var(--color-right);
  transform: translate(140px, 30px);
}

.test-petal--right:hover {
  fill: yellow;
}

.test-petal--bottom-left {
  fill: var(--color-bottom-left);
  transform: translate(142px, 190px) rotate(120deg);
}

.test-petal--bottom-left:hover {
  fill: green;
}

.test-petal--bottom-right {
  fill: var(--color-bottom-right);
  transform: translate(180px, 120px) rotate(60deg);
}

.test-petal--bottom-right:hover {
  fill: gold;
}
