.test-wrapper {
  display: flex;
  justify-content: center;
  margin: 60px auto;
}

.test-path-svg {
  height: 200px;
  width: 200px;
}

.test-circle-svg {
  border-radius: 50%;
  height: 200px;
  margin: -30px;
  overflow: hidden;
  width: 200px;
}

.test-circle {
  fill: transparent;
  pointer-events: none;
}

.test-petal--right {
  fill: magenta;
  transform: translate(140px, 30px);
}

.test-petal--right:hover {
  fill: yellow;
}

.test-petal--bottom-left {
  fill: cyan;
  transform: translate(142px, 190px) rotate(120deg);
}

.test-petal--bottom-left:hover {
  fill: green;
}

.test-petal--bottom-right {
  fill: purple;
  transform: translate(180px, 120px) rotate(60deg);
}

.test-petal--bottom-right:hover {
  fill: gold;
}
