@import '../../styles/_colors.css';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.operation-setter {
  animation: fade-in 100ms ease-out;
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 70px;
  z-index: 2000;

  & .u-btn {
    font-size: 24px;
  }
}

.operation-setter__item--current.operation-setter__item--right .u-btn.u-btn--dark {
  color: var(--color-right);
}

.operation-setter__item--current.operation-setter__item--right-alt .u-btn.u-btn--dark {
  color: var(--color-right-alt);
}

.operation-setter__item--current.operation-setter__item--bottom-right .u-btn.u-btn--dark {
  color: var(--color-bottom-right);
}

.operation-setter__item--current.operation-setter__item--bottom-left .u-btn.u-btn--dark {
  color: var(--color-bottom-left);
}
