@import '../../styles/_colors';

.circle {
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  font-size: 14px;
  height: 200px;
  margin: -30px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

input {
  font-size: 20px;
}

.circle__number {
  background-color: transparent;
  border: none;
  display: block;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.circle__number,
.neighbor {
  color: var(--color-black);
}
