@import '../../styles/_colors';

.circle {
  border-radius: 50%;
  display: block;
  flex: 0 0 auto;
  font-size: 14px;
  height: 200px;
  margin: -30px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

input {
  font-size: 36px;
}

.circle__number {
  background-color: transparent;
  border: none;
  display: block;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

.neighbor--invalid {
  background-color: var(--color-red-error);
}

.circle__number:not(.circle__number--static),
.neighbor:not(.neighbor--static) {
  color: black;
}

.circle__number--static {
  color: var(--color-gray-dark-static);
}

.circle__number--static,
.neighbor--static {
  font-style: italic;
}
