@import '../../../styles/_colors';

.message {
  background-color: var(--color-white);
  color: var(--color-yellow);
  height: 70px;
  max-height: 80px;
  overflow: hidden;
  transition: 200ms max-height ease-in;
  width: 100%;
}

.message:not(.message--visible) {
  max-height: 0;
}

.message__title {
  padding: 10px 0 0;
  text-align: center;
  text-transform: uppercase;
}
