.text {
  font-size: 20px;
  position: absolute;
  text-align: center;
  width: 59px;
}

.text--right,
.text--right-alt {
  left: 141px;
  top: 100px;
  transform: translateY(-50%);
}

.text--bottom-right-alt,
.text--bottom-right,
.text--bottom-left-alt,
.text--bottom-left {
  top: 158px;
}

.text--bottom-right-alt,
.text--bottom-right {
  left: 106px;
}

.text--bottom-left-alt,
.text--bottom-left {
  left: 36px;
}
