.board {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.board__inner {
  left: 0;
  margin: 20px 0;
  position: absolute;
  text-align: left;
  top: 0;
  transform-origin: 0 0;
}
