/* stylelint-disable color-no-hex */

:root {
  --filter-invalid: tint(50%);
  --color-black: #000;
  --color-white: #FFF;
  --color-gray: #7F8C8D;
  --color-gray-dark: #2C3E50;
  --color-gray-light: #ECF0F1;
  --color-right: #F1C40F;
  --color-right-invalid: color(var(--color-right) var(--filter-invalid));
  --color-bottom-right: #2ECC71;
  --color-bottom-right-invalid: color(var(--color-bottom-right) var(--filter-invalid));
  --color-bottom-left: #2980B9;
  --color-bottom-left-invalid: color(var(--color-bottom-left) var(--filter-invalid));
  --color-new-game: #7F8C8D;
  --color-new-game-invalid: color(var(--color-new-game) var(--filter-invalid));
}

/* stylelint-enable color-no-hex */
