.u-btn {
  background-color: var(--color-controls);
  border: none;
  color: var(--color-black);
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 0;
  padding-top: 0;
}

.u-btn[disabled] {
  background-color: var(--color-controls-invalid);
}

.u-btn--small {
  height: 30px;
  padding: 0;
  width: 24px;
}
