.u-btn {
  background-color: var(--color-controls);
  border: none;
  color: var(--color-black);
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 0;
  padding-top: 0;

  &:hover {
    cursor: pointer;
  }
}

.u-btn__wrapper {
  border: 5px solid var(--color-gray-dark);
}

.u-btn.u-btn--dark {
  background-color: var(--color-gray-dark);
  color: var(--color-controls);
}

.u-btn:not(.u-btn--dark)[disabled] {
  background-color: var(--color-controls-invalid);
}

.u-btn--small {
  height: 30px;
  padding: 0;
  width: 22px;
}

.u-90 {
  display: inline-block;
  transform: rotate(90deg);
}
