@import './styles/_colors';

body {
  color: var(--color-gray-dark);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

input,
button {
  color: var(--color-gray-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

*:focus {
  outline: none;
}
