@import '../../styles/_colors';

.instructions {
  background-color: var(--color-white);
  height: calc(100% - 65px);
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1500;
}

.instructions .board {
  margin: 0 -80px;
}

.instructions:not(.instructions--visible) {
  display: none;
}

.instructions__close-btn {
  margin-left: 10px;
}

.instructions__text {
  margin: 0 auto 20px;
  max-width: 350px;
  width: 100%;
}

.instructions__footer {
  background: var(--color-white);
  bottom: 0;
  left: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 4000;
}
