@import '../../styles/_colors';

.instructions {
  background-color: var(--color-white);
  height: 700px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 20;
}

.instructions:not(.instructions--visible) {
  display: none;
}

.instructions__inner {
  padding: 40px;
}

.instructions__close-btn {
  margin-left: 10px;
}

.instructions__text {
  margin: -20px auto 20px;
  width: 350px;
}
