@import '../../styles/_colors.css';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.setter {
  animation: fade-in 100ms ease-out;
  background-color: var(--color-gray-dark);
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}

.u-reset-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.setter__item:first-child button {
  padding-left: 10px;
}

.setter__item:last-child button {
  padding-right: 10px;
}

.setter__item button {
  color: var(--color-controls);
  padding: 5px;
}

.setter__item--current button {
  color: var(--color-gray-light);
}
