@import '../../styles/_colors';

.controls {
  margin: 10px auto 40px;
  padding: 0;
  width: 300px;

  & label {
    margin-right: 10px;
  }
}

.controls__row {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.controls__size {
  padding: 10px;
}

.controls__size-btn {
  background-color: var(--color-controls);
  border: none;
  border-radius: none;
  color: var(--color-black);
  font-size: 18px;
  height: 30px;
  width: 24px;
}

.controls__size-btn[disabled] {
  background-color: var(--color-controls-invalid);
}

.controls__btn {
  background-color: var(--color-controls);
  border: none;
  border-radius: none;
  font-size: 18px;
  height: 30px;
}
