@import '../../styles/_colors';

.controls {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-controls);
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5000;

  & label {
    margin-right: 10px;
  }
}

.controls__row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.controls__size {
  padding: 0 7px;
}
