@import '../../styles/_colors';

.controls {
  background-color: var(--color-white);
  left: 0;
  line-height: 30px;
  position: fixed;
  width: 100%;
  z-index: 5000;

  & label {
    margin-right: 7px;
  }
}

.controls:not(.controls--bottom) {
  border-bottom: 1px solid var(--color-controls);
  top: 0;
}

.controls--bottom {
  border-top: 1px solid var(--color-controls);
  bottom: 0;
}

.controls.controls--won {
  background-color: var(--color-right-alt);
}

.controls__inner {
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  width: 320px;
}

.controls__row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  & > *:not(.controls__row-btns) {
    margin-bottom: 10px;
    transition: transform 400ms ease-in;
  }
}

.controls__row--off-1 > *:not(.controls__row-btns) {
  transform: translateY(-40px);
}

.controls__row--off-2 > *:not(.controls__row-btns) {
  transform: translateY(-80px);
}

.controls__size {
  padding: 0 7px;
}

.controls__row-btns button + button {
  margin-left: 1px;
}
