@import '../../styles/_colors';

.petal {
  pointer-events: all;
}

/* right petal */

.petal--right,
.petal--right-alt {
  transform: translate(140px, 30px);
}

.petal--right {
  fill: var(--color-right);
}

.petal--right.petal--invalid {
  fill: var(--color-right-invalid);

  &:not(.petal--disabled):hover {
    fill: color(var(--color-right-invalid) tint(20%));
  }
}

.petal--right-alt {
  fill: var(--color-right-alt);
}

.petal--right-alt.petal--invalid {
  fill: var(--color-right-alt-invalid);

  &:not(.petal--disabled):hover {
    fill: color(var(--color-right-alt-invalid) tint(20%));
  }
}

/* bottom right petal */

.petal--bottom-right {
  fill: var(--color-bottom-right);
}

.petal--bottom-right-alt {
  fill: var(--color-bottom-right-alt);
}

.petal--bottom-right,
.petal--bottom-right-alt {
  transform: translate(180px, 120px) rotate(60deg);
}

.petal--bottom-right.petal--invalid {
  fill: var(--color-bottom-right-invalid);

  &:not(.petal--disabled):hover {
    fill: color(var(--color-bottom-right-invalid) tint(20%));
  }
}

.petal--bottom-right-alt.petal--invalid {
  fill: var(--color-bottom-right-alt-invalid);

  &:not(.petal--disabled):hover {
    fill: color(var(--color-bottom-right-alt-invalid) tint(20%));
  }
}

/* bottom left petal */

.petal--bottom-left {
  fill: var(--color-bottom-left);
  transform: translate(142px, 190px) rotate(120deg);
}

.petal--bottom-left.petal--invalid {
  fill: var(--color-bottom-left-invalid);

  &:not(.petal--disabled):hover {
    fill: color(var(--color-bottom-left-invalid) tint(20%));
  }
}
