@import './styles/_colors';
@import './styles/_utils';

body {
  color: var(--color-black);
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

* {
  transition: background-color 200ms ease-in;
}

input,
button {
  color: var(--color-black);
}

*,
*::before,
*::after {
  background-color: red !important;
  box-sizing: border-box;
  /*font-family: 'Lato', sans-serif;*/
}

*:focus {
  outline: none;
}
