@import '../../styles/_colors';

.message {
  background-color: var(--color-messaging);
  color: var(--color-white);
  height: 80px;
  max-height: 80px;
  overflow: hidden;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  transition: 200ms max-height ease-in;
  width: 100%;
  z-index: 8000;
}

.message:not(.message--visible) {
  max-height: 0;
}

.message__title {
  font-weight: normal;
  padding: 10px 0 0;
  text-align: center;
}
