@import '../../styles/_colors';

.message {
  height: 80px;
  max-height: 80px;
  overflow: hidden;
  transition: 200ms max-height ease-in;
  width: 100%;
}

.message--banner {
  background-color: var(--color-blue);
  color: var(--color-white);
  position: absolute;
  text-transform: uppercase;
}

.message:not(.message--visible) {
  max-height: 0;
}

.message:not(.message--banner) {
  color: var(--color-blue);
}

.message__title {
  font-weight: normal;
  padding: 10px 0 0;
  text-align: center;
}
